.form__container{
    top:10vh;
    /* left: 40vw; */
}

.form__multiple__inputs{
    display: flex;
    justify-content: space-around;
}

#pass{
  margin-left:18.5vw!important
}
#numeroTel1{
    margin-left:18.5vw!important
}
#check{
    width: 20px;
}